@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,800;1,400;1,600;1,800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fcfcfc;
  font-size: 16px;
}
table {
  border-spacing: 1;
}
table td {
  width: 20px;
  height: 20px;
  text-align: center;
  border: 1px solid grey;
}
table td div {
  cursor: pointer;
  opacity: 0;
}
.bomb {
  background-color: #f44343;
  color: #fff;
  border-color: red;
}
.show {
  opacity: 1;
}